@mainColor: blue;
@card-height: 500px;
@light-gray: #8C8E8F;
@primary-colour: #37BD28;
@gradtop-colour: #5DD64F;
@border-primary-colour: #429C38;

@import "pizza/pizza-card";
@import "navbar";
@import "pizza/cart-item";

.btn-primary {
    background-color: @primary-colour;
    border-color: @border-primary-colour;
    color: white;        
    background: -webkit-linear-gradient(@gradtop-colour, @primary-colour);
    background: -o-linear-gradient(@gradtop-colour, @primary-colour);
    background: -moz-linear-gradient(@gradtop-colour, @primary-colour);
    background: linear-gradient(@gradtop-colour, @primary-colour);
    
    &:hover, &:focus, &:active, &:target, &:visited {
        background: none;
        background-color: @primary-colour;
        outline: none;
        border-color: @border-primary-colour;
    }
}

.container-fluid {    
    padding: 0;
    padding-top: 90px;   
    
    .main {
        margin: 0px;
    }
    
    .right-panel {
        position: fixed !important;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 0;
        padding-top: 15px;
        box-shadow: rgba(0, 0, 0, 0.2) -3px 3px 10px;
        
        .heading {
            font-weight: 600;
            padding-bottom: 35px;
            padding-left: 5px;
            margin: 0;
            width: 100%;
            
            .cart-heading {
                display: inline-block;
                font-size: 18px;
                padding-top: 5px;
            }
            
            .cart-count {
                font-size: 12px; 
                display: inline-block;
            }
            
            .clear-cart {
                display: inline-block;
                float: right;
                padding-top: 10px;
                padding-left: 5px;
                font-weight: normal;
                font-size: 12px;
                color: @light-gray;
                
                a:link, a:hover, a:focus, a:visited {
                    color: @light-gray;
                    text-decoration: none;
                }
            }
            
            .panel-footer {
                position: absolute !important;
            }
        }
        
        .panel {
            background-color: #F2F2F2;
            background-size: cover;
            position: fixed !important;
            width: 100%;
            height: 100%;
            
            .cart {
                height: 470px;
                overflow-y: scroll;
            }
            
            .panel-footer {
                background-color: white;
                height: 130px;
                font-weight: 700;
                
                .price {
                    display: inline-block;
                    text-align: right;
                    margin-left: 200px;
                    font-size: 20px;
                }
                
                #order {
                    float: none;
                    display: block;
                    text-align: center;
                    margin: 20px 60px;
                    width: 200px;
                    font-size: 20px;
                    font-weight: normal;
                }
            }
        }
    }
    
    .number-badge {
            display: inline-block;
            background-color: @primary-colour;
            font-size: 15px;
            font-weight: bold;
            padding: 5px 9px;
            border-radius: 15px;
            color: white;
            position: absolute;
            margin: 5px 5px 0px 10px;
        }
        
    
    .food-nav {
        text-align: center;
        
        .nav-title {
            font-size: 30px;
            display: inline-block;
            
        }
        
        .nav.filter-nav {
            font-size: 15px;
            text-align: center;
            margin: 5px 0px 20px 25px;
            
            li {
                display: inline-block;
                padding: 0px;  
                margin: 1px;
                a {                    
                    padding: 10px 15px;
                    border-radius: 4px;
                    color: @primary-colour;
                
                    &:hover {
                        background-color: #D9DDDE;
                    }              
                    
                    &:focus {
                        color: white;
                        background-color: @primary-colour;
                    }
                }
            }
        }
    }
}