@mainColor: blue;
@card-height: 500px;
@light-gray: #8C8E8F;
@primary-colour: #37BD28;
@border-primary-colour: #429C38;

@import "pizza/pizza-card";
@import "navbar";

.btn-primary {
     background-color: @primary-colour;
     color: white;        
     border-color: @border-primary-colour;
}

.container {    
    padding-top: 100px;   
    
    .food-nav {
        text-align: center;
        
        .nav-title {
            font-size: 30px;
            display: inline-block;
            
        }
        
        .number-badge {
            display: inline-block;
            background-color: @primary-colour;
            font-size: 15px;
            font-weight: bold;
            padding: 5px 9px;
            border-radius: 15px;
            color: white;
            position: absolute;
            margin: 5px 5px 0px 10px;
        }
        
        .nav.filter-nav {
            font-size: 15px;
            text-align: center;
            margin: 5px 0px 20px 25px;
            
            li {
                display: inline-block;
                padding: 0px;  
                margin: 1px;
                a {                    
                    padding: 10px 15px;
                    border-radius: 4px;
                    color: @primary-colour;
                    
                
                    &:hover {
                        background-color: #D9DDDE;
                    }              
                    
                    &:focus {
                        color: white;
                        background-color: @primary-colour;
                    }
                }
            }
        }
    }
}