.translucent .container-fluid {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    
    .brand {
        background-color: @primary-colour;
        margin-top: -10px;
        height: 100px;
        color: white;
        position: absolute;
        
        .thingy {
            top: 90px;
            -moz-transform: scaleY(-1);
            -o-transform: scaleY(-1);
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
            filter: FlipV;
            -ms-filter: "FlipV";
            
            &.inverse-thingy {
                width: 140px;
                height: 11px;
                top: 100%;
                left: 3.5px;
                background-image: url(../images/discount.svg);
                background-size: cover;
                background-repeat: no-repeat;
                padding: 0!important;
                margin: 0!important;
                position: absolute;
            }
        }
    }
    
    .info {
        
        padding-left: 10%;
        
        .info-bar {
        color: @light-gray;
        padding: 10px 10px 10px 5px;
        margin: 10px 10px 10px 0px;
        
        &.important {
            color: white;
            display: block;
            margin: 0;
        }
    }
    
    #login {
        float: right;
        background-color: @primary-colour;
        color: white;
    }
    
    .hor-line {
        display: inline-block;
        float: right;
        width: 90%;
        height: 1px;
        border: 0;
        background-color: @light-gray;
        margin: 0;
        margin-bottom: 5px;
        padding: 0; 
    }
    }
}