.row.order {
    margin: 50px 10px 10px 30px;
    
    .form-control {
        width: 70%;
        margin-left: 100px;
    }
}

.row.next-nav {
    float: right;
    padding: 10px;
    
    button {
        padding: 7px 25px 7px 25px;
    }
}