<% include common/header.ejs %>
    
       <!-- <div class="container">-->
            <div class="row food-nav">
                <h2>
                    <span class="nav-title">All items</span>
                    <span class="number-badge">5</span>
                </h2>
                <div class="row filter-switch">
                <ul class="nav filter-nav">
                    <li role="presentation" class="active filter-btn"><a href="#">All</a></li>
                    <li role="presentation" class="filter-btn"><a href="#">Spicy</a></li>
                    <li role="presentation" class="filter-btn"><a href="#">With eyeballs</a></li>
                    <li role="presentation" class="active filter-btn"><a href="#">Vegan</a></li>
                    <li role="presentation" class="active filter-btn"><a href="#">Drinks</a></li>
                </ul>
                </div>
            </div>
        <div class="row" id="pizza_list"></div>
      <!-- </div>-->
</div>




<% include common/footer.ejs %>