
    <% include cart.ejs %>
<div class="footer row col-xs-12">
    <span class="hor-line"></span>
    <div class="footer-text col-sm-10">
        <p>This is a test website. No humans were harmed in the process of making it.</p>
    </div>
</div>
</div>

<!-- Google Maps -->
<script type="text/javascript" 
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCNGIDiXInkYTHH8DtmxCPniBSmE0si_5Y">
</script>

<!-- LiqPay -->
<script src="//static.liqpay.com/libjs/checkout.js"></script>

<!-- jQuery JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"> </script>

<!-- Bootsrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- Own JavaScript -->
<script type="text/javascript"  src="assets/js/main.js"> </script>
</body>
</html>